@using Models
@model ViewModels.GoodsDetail
@{
    ViewBag.Title = "Reply";
    Layout = null;
}


    @foreach (ReplyGoods m in Model.Reply1)
    {
        <div class="row comment-qunbu-mouren">
            <img src="@m.Users.UserImage" />

            <span style="font-size:x-large">@m.Users.UserName</span>
            <span>发表于</span>
            <span>@m.ReplyTime</span>
            <p>@m.Content</p>
     </div>
    }

    @*@using (Html.BeginForm("Reply", "Malls", FormMethod.Post, new { id = "addReply" }))
            {
                <div class="col-sm-2 col-md-2"></div>
                <div class="col-xs-12 col-sm-9 col-md-9 reply-detail-more">
                    <textarea name="replaygoods"></textarea>


                </div>
                <div class="col-sm-1 col-md-1 btn-reply">
                    <a href="javascript:document.getElementById('addReply').submit()">回复</a>
                </div>
            }*@
        

