
.Cart-gouwu {
    margin-top:8%;
   
  
}
.Cart-gouwu :first-child{
    border-bottom:1px solid #000000;
    height:14px;
}
.Cart-gouwu :nth-child(2){
    color:red;
    text-align:center;
    font-size:large;
}
.Cart-gouwu :last-child{
    border-bottom:1px solid #000000;
      height:14px;
}
.Cart-title{
    height:50px;
    background-color:#808080;
    margin-top:5%;
}
.Cart-title div{
    color:white;
    line-height:50px;
    text-align:center;
}
.Cart-allgoods{
     margin-top:3%;
}
.Cart-goods{
    margin-top:2%;
    border:1px solid #808080;
    height:100px;
}
.Cart-goods div{
    text-align:center;
    height:100%;
  
  
}
.Cart-goods div span{
    margin-top:20%;
}
.cart-detele a{
   
    line-height:100px;
}
.cart-detele a:hover{
    text-decoration:none;
    outline:none;
}
.Cart-goods div label{
    margin-top:20%;
}
.Cart-goods-img{
    height:100%;
}
.Cart-goods-img img{
     height:100%;
     cursor:pointer;
}
.Cart-goods-num input{
    margin-top:20%;
    width:30%;
    /*height:10%;*/
  
}
.Cart-goods-num a{
    cursor:pointer;
    width:20%;
    font-size:large;
}
.min{
    cursor:pointer;
    width:20%;
    font-size:large;
}
.min:hover{
    text-decoration:none;
}
.add{
     cursor:pointer;
    width:20%;
    font-size:large;
}
.add:hover{
     text-decoration:none;
}
.Cart-goods-num a:hover{
    text-decoration:none;
}
.Cart-AllTotal{
    background-color:#dddddd;
    margin-top:5%;
    height:50px;
}
.Cart-AllTotal div{
    text-align:center;
    cursor:pointer;
}
.Cart-AllTotal div label{
    margin-top:5%;
    color:red;
   font-size:18px;
}
.Cart-allcheeck input{
    margin-top:10%;
}
.Catr-account{
      background-color:red;
}
.cart-jeisuan{
     height:50px;
     width:100%;
     border:none;
   
     color:white;
     font-size:28px;
     line-height:50px;
}
.cart-jeisuan:hover{
    text-decoration:none;
    color:white;
}
.Cart-AllTotal div p{
  margin-top:10%;
}
#larg-img{
    width:600px;
    height:500px;
    top:0;
    left:0;
    float:right;
    position:absolute;
    z-index:200;
    display:none;
}
#larg-img img{
    width:100%;
    height:100%;
    position:absolute;
    z-index:200;
    top:0;
    left:0;
}
/*地址*/
.address-weizhi{
    height:60px;
  
}
.address-weizhi:first-child{
   
    color:#778877;
}
.address-dhsawer img{
      height:280px;
     
}

.address-add{
    border:1px solid #dddddd;
    height:200px;
}

.address-add img{
    
    height:70%;
    width:80%;
    margin-left:10%;
    margin-top:5%;
}
.address-add :nth-child(2){
  color:black;
   
   margin-left:35%;
}
.address-tianxie{
    display:none;
}
.address-wenzi{
 
}
.address-message{
    margin:5%;
}
.address-message div{
    line-height:50px;
    text-align:center;
    height:50px;
}
.address-message div input{
    border:1px solid #000000;
    height:50px;
    width:100%;
}

/*地址*/

