
.bigbox{
    height:1200px;
    width:70%;
    margin:0 auto;
}
.content
{
    margin-top:50px;
    width:70%;
    height:800px;
    float:left;
}
.detail-title{
    height:100px;
    width:100%;
}
.detail-title h1{

    margin:50px auto;
    float:left;
      
        }
.detail-daohang{
    height:70px;
    width:100%;
    
}
.detail-daohang span{
    float:left
}
.content p{
    margin-top:80px;
}
/*评论框架*/
.detail-comment{
    height:400px;
    width:100%;
    border:1px solid black;
    float:left;
}
.detail-commentHead{
    height:50px;
    width:100%;
    border:1px solid black;
}
.detail-commentHead h3{
    font-style:italic; 
}
.detail-commentTxt{
    height:100px;
    width:100%;
    border:1px solid black;
}
.detail-commentTxtLeft{
    height:100px;
    width:100px;
    border-right:solid 1px black;
}
.detail-commentSubmit{
    height:30px;
    width:100%;
    border:1px solid black;
}
.detail-commentSubmitDiv{
    height:23px;
    width:60px;
    float:right;
   margin:3px 15px 2px 5px;
    border:1px solid black;
}
.detail-commentList{
    height:20px;
    width:100%;
    border:1px solid black;
}
.detail-commentShow{
    height:200px; 
    width:100%;
    border:1px solid black;
}
.detail-commentShowDiv{
    height:150px;
    width:100%;
}
.contentBottom
{
    margin-bottom:50px;
    height:50px;
    width:100%;
    text-align:left;
}
.contentBottom a{
    color:cadetblue;
    text-decoration:none;
}
.contentBottom a:hover{
    color:red;
}
.detail-right{
    height:500px;
    width:28%;
    float:right;
    border:1px solid black;
    margin-top:100px;
}
.select{
    height:auto;
    width:70%;
    margin:0 auto;
}
.select ol{
    margin-top:50px;
    list-style-type:decimal;

}
.select li{
   
    border-bottom:1px solid #ED9F9F;
    color:red;
}
.select a{
    text-decoration:none;
    font-size:20px;
    font-weight:bold;
    color:black;
    border-left:12px solid red;
    
}
.select a:hover{
    background-color:#f0f0f0;
    color:red;
}